<%= form_for(fable) do |f| %>
  <% if fable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fable.errors.count, "error") %> prohibited this fable from being saved:</h2>

      <ul>
      <% fable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :story %>
    <%= f.text_area :story %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :views %>
    <%= f.number_field :views %>
  </div>

  <div class="field">
    <%= f.label :likes %>
    <%= f.number_field :likes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
