<ul class="nav navbar-nav navbar-right">
<%- if user_signed_in? -%>
  <li><a href="/"><i class="fa fa-user"></i> <%= current_user.email %></a></li>
  <li><%= link_to("<i class=\"fa fa-sign-out\"></i> #{t('authentication.sign_out')}".html_safe, destroy_user_session_path, :method => :delete) %></li>
<%- else -%>
  <li><a href="<%= new_user_registration_path %>"><i class="fa fa-user-plus"></i> <%= t('authentication.sign_up') %></a></li>
  <li><a href="<%= new_user_session_path %>"><i class="fa fa-sign-in"></i> <%= t('authentication.sign_in') %></a></li>
<%- end -%>
</ul>
