<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{CONFIG[:application][:name]} #{controller.controller_name.capitalize}: #{controller.action_name}" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="<%= root_url %>" class="navbar-brand"><%= CONFIG[:application][:name] %></a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/fables/"><%= I18n.t('models.fables') %></a>
                </li>
<% if current_user.try(:access_admin_section?) -%>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="admin">Admin <span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="admin">
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                    <li><a href="/admin/fables"><%= I18n.t('models.fables') %></a></li>
<% if current_user.try(:admin?) -%>
                    <li class="divider"></li>
                    <li><a href="/admin/users"><%= I18n.t('models.users') %></a></li>
<% end -%>
                  </ul>
                </li>
<% end -%>

              </ul>
              <%= render 'session' %>
            </div>
          </div>
        </div>

        <div class="container">
          <%= render 'message' %>
          <%= yield %>
        </div>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p><%= "#{CONFIG[:application][:name]} #{Rails.env} #{CONFIG[:application][:version]}." %></p>
                        <p>All rights reserved © copyright 2016.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <i class="fa fa-envelope-o fa-2x sr-contact"></i>
                        <p><a href="mailto:m.mastrodonato@gmail.com">Send me your feedback!</a></p>
                    </div>
                </div>
            </div>
        </section>
  </body>
</html>
